@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #f0f0f0;

body {
  background: $primary-background;
  height: 100vh;
}

.hotel-name-header {
  display: flex;
  justify-content: center;
}

.manager-header {
  display: flex;
  justify-content: center;
}

.customer-header {
  @extend .manager-header;
}

.login-window {
  height: 30%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin-left: 25%;
}

.form-submit {
  display: block;
  border-radius: 10px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.manager-page {
  height: 100vh;
}

.customer-page {
  @extend .manager-page;
}

.widget {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  margin: 5px 20px;
  padding: 10px;
  background-color: floralwhite;
  border: 1.5px solid gainsboro;
  border-radius: 10px;
  height: fit-content;
}

.available-rooms {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.manager-widgets {
  @extend .available-rooms;
  font-size: 1.17em;
}

.customer-widgets {
  @extend .manager-widgets;
}
